:root{ /*declaração de variável de cor.*/ 
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Não vai ultrapssar a borda da caixa.*/
}

/*Elementos base*/
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif; /* fonte padrão*/
    color: white;
}


header .container{
 display: flex;/*alinhar os elementos em tela*/
 flex-direction: row;/*carater semântico*/
 align-items: center;/*centralizados*/
 justify-content: space-between;/*espaço entre as tags*/   
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}

/*MOUSE ESTIVER EM CIMA DO ELEMENTO DE NAVGEÇÃO, VARIA A COR.*/
header nav a:hover{
    color: #fff;
}


/*Filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/Img/capa\ 4.jpg');

    height: 500px;
    background-size: cover;/*especificar o tamanho da imagem.*/

    display: flex;
    flex-direction: column;
    justify-content: center ;/*segue a direção do flex direction*/
    align-content: flex-start;/*alinhar da esquerda p/ direita.*/

}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;/*Coloca mais para baixo.*/
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50) ;
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;


    cursor: pointer;
    transition: .3s ease all;/*transição entre uma animação ou outra.*/
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}


.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

/*classe para colocar o tamanho das img.*/
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}